/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'McLaren', cursive;

}
body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	/*background-repeat: no-repeat;*/
	background-size: cover;
	/*background-position: center;*/
	height: 100vh;
	background-image: linear-gradient(rgb(245,155,66), rgba(0,88,255,0.45)),url("../images/bg.jpg");


}

/*Targets the element with the class name container*/
.container{
	width: 500px;
	margin: 0 auto; /*Centers the element horizontally*/
	text-align: center;

}
/*End container*/
.container2{
	width: 250px;
	margin: 0 auto;
	text-align: center;
}
.container3{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
/*Target the html element called h1*/
h1{
	color: yellow; /*this changes the font color of the h1 element*/
	background-color: #333333; /*change color to off black*/
	text-transform: uppercase; /*transforms text into uppercase*/
	font-size: 50px; /* change font size to 50px*/
	letter-spacing: 3px; /*letter spacing 3px*/
	margin-bottom: 15px;
	font-family: 'Yeon Sung', cursive;
	border-radius: 10px;
	text-shadow: 4px 4px red;


}
/*end of h1 styling*/

/*Start of h2 styling*/
h2{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #333333;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Yeon Sung', cursive;


}
/*End of h2 styling*/

/*Targets the html element with a class attribute bio*/
.bio{
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(51,51,51,.8);
	font-family: 'McLaren', cursive;
	color: skyblue;
	border-radius: 10px;

}
/*End of bio*/

/*Targets the html aatribute id with a value me*/
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: indianred;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
	font-family: 'McLaren', cursive;
}
/*End of me*/

ul{	
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	background-color: none;
	text-align: center;

}

li a{
	width: 80px;
	border: 3px solid;
	float: left;
	color: black;
	padding; 14px 16px;
	text-decoration: none;


}

li a:hover{
	background-color: green;
	color: yellow;
}

#but1{
	background-color: gray;
}
#but2{
	background-color: gray;
}
#but3{
	background-color: gray;
}

